<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @reservation.name %>
</p>

<p>
  <strong>Party size:</strong>
  <%= @reservation.party_size %>
</p>

<p>
  <strong>Date time:</strong>
  <%= @reservation.date_time %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @reservation.comment %>
</p>

<%= link_to 'Edit', edit_reservation_path(@reservation) %> |
<%= link_to 'Back', reservations_path %>
